<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Image Generator</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <h1 class="text-center">Image Generator</h1>
        <form action="" class="form d-flex flex-column gap-3" method="post">
            <label for="prompt" class="input-label">Décrivez votre imagination ici:</label>
            <textarea name="prompt" id="prompt" class="input-control" placeholder="Prompt"></textarea>
            <button type="submit" class="btn btn-secondary">Generate</button>
        </form>
        <div id="sample-div">
            {% if image_url and prompt%}
                <div class="col-lg-5 col-md-12 col-sm-12" id="divs">
                    <p class="text-center text-white">Prompt:<br>{{prompt}}</p>
                </div>
                <div class="container col-lg-6 col-md-12 col-sm-12" id="divs">
                    <img  src="{{image_url}}" alt="" width="70%" id="img-sample">
                </div>
            {% else %}
                <!-- Si une demande n'est pas fait alors afficher ceci -->
                <div class="col-lg-5 col-md-12 col-sm-12" id="divs">
                    <p class="text-center text-white">Example:<br>A photorealistic image of an astronaut riding a horse</p>
                </div>
                <div class="container col-lg-6 col-md-12 col-sm-12" id="divs">
                    <img  src="https://images.ctfassets.net/kftzwdyauwt9/5GOIjwbUjLZHoGhX6q5oQg/d2984681d2a9466b71b7ca7632a8481c/Anastronautridingahorseinaphotorealisticstyle0.jpg?w=750&q=90&fm=webp" alt="" width="70%" id="img-sample">
                </div>
            {% endif %}
            <!-- Vérifier si une erreur n'est pas survenue -->
            {% if error %}
                <div class="d-flex flex-column justify-content-center align-items-center" style="width: 100%; height: 200px;">
                    <p class="text-center text-red">Une erreur est survenue !</p>
                </div>
            {% endif %}
        </div>
    </div>
    <script src="{{url_for('static',filename='js/script.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>